*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;

}
/*  */
/* navbar */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #0009;
    height:4.6875rem;
    position: fixed;
    font-size: 1rem;
    text-transform: uppercase;
}

.navbar .logo{
    padding: 0 6.25rem;
    width: 70%;
}

.navbar .logo a{
    font-size: 1.875rem;
    font-weight: bold;
    letter-spacing: 0.09375rem;
    text-decoration: none;
    color: #eb5e28;
}

.navbar ul{ 
    display: flex;
    margin-right: 8.125rem;
    width: 30%;
}

.navbar ul li{
    list-style: none;
}

a{
    font-size: 1.125rem;
    padding: 0 2rem;
    color: #eb5e28;
    text-decoration: none;
    text-transform: none;
  }
  
.focus:hover{
    color: #fffcf2;
    text-decoration: underline;
    transition: all 0.5s;
  }
  a.focus:focus{
    background-color: #ffffff;  
  }

/*  */
/* navbar */
/*  */

/*  */
/* top-container */
/*  */

.first-section{
    background: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}
.top-container{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    max-width: 80%;
    margin: auto;
    padding: 40px;
    height: 90%;
}
.first-part{
    width:80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.first-part h1{
    color: #eb5e28; 
    font-size: 3rem;
    font-weight: bold;
    line-height: 2;
}
.first-part h2{
    color: #d88869;
    font-weight: bold;
    line-height: 2;
}
.first-part h3{
    line-height: 2;
}
.second-part{
    width: 20%;
    
}
.second-part img{
    width: 60%;
    border-radius: 10px;;
}
.btn {
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    color: #ffffff;
    background: #eb5e28;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    margin-right: 4rem;
  }
  
.btn:hover {
    background: #f29072;
    text-decoration: none;
  }

/*  */
/* top-container */
/*  */
/*  */
/* middle-container */
/*  */

.second-section{
    background-color: rgb(228, 213, 209);
    height: 100vh;
    width: 100%;
    
}
.middle-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 80%;
    margin: auto;
    padding: 40px;
    height: 80%;
}
  
  .my-hobbies h1 {
    color: #c05429; 
    margin: 5rem;
    text-align: center;
    font-size: 3rem;
  }
  
  .sections {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
  }
  
  .items {
    padding: 0.625rem 1.25rem;
    text-align: center;
  }
  
  .each-hobby{
    height: 200px;
    width: 200px;
  }
  
  
  h1 {
    text-align: left;
    font-size: 3rem;
  }
  
  h3 {
    color: white;
    margin: 0.3125rem;
  }

/*  */
/* middle-container */
/*  */

/*  */
/* bottom-container */
/*  */

.third-section{
    height: 100vh;
    width: 100%;
    /* background-color: red; */
    background-color: #252422;

}
.bottom-container {
    
    /* background-color: red; */
    text-transform: uppercase;
    list-style: none;
    padding-top: 5rem;
    padding-bottom: 5rem; 
    /* max-width: 80%; */
    margin: 0 auto;
    /* width: 100%; */
    
 
  }
  .skill {
    background-color: #333;
    margin: 0 auto;
    /* margin-top:5rem; */
    max-width: 500px;
    color: #fff;
    padding: 20px;
     
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.footer-container{
    /* max-width: 500px; */
    margin: 0 auto;
    /* background-color:#c05429; */
    text-align: center;
    
    /* margin-top: 4rem;*/
    padding-top: 4rem; 
}

.last-line{
    margin-top: 1rem;
}
.skill li {
    
    padding: 10px;
}
.skill h1{
    color: #eb5e28;
}

.bar {
    background: #353b48;
   
    display: block;
    height: 2vh;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.bar:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.bar span {
    height: 2vh;
    float: left;
    background: linear-gradient(135deg, rgba(236,0,141,1)0%, rgba(252,103,103,1) 100%);
    transition-timing-function: ease-out;
    transition-duration: 3s;
}
.common{
    opacity: 0;
    /* transition :1s ease 0.3s; */
}

/* .cpp {
    width: 90%;
    animation: cpp 3s;
}

.html {
    width: 70%;
    animation: html 3s;
}

.css {
    width: 70%;
    animation: css 3s;
}

.javascript {
    width: 40%;
    animation: javascript 3s;
} */

/* @keyframes cpp {
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
}

@keyframes html {
    0% {
        width: 0%;
    }
    100% {
        width: 70%;
    }
}

@keyframes css {
    0% {
        width: 0%;
    }
    100% {
        width: 70%;
    }
}

@keyframes javascript {
    0% {
        width: 0%;
    }
    100% {
        width: 40%;
    }
} */
  
  /* responsive */
 /*  */
 @media (max-width:1326px)
 {
    html{
        font-size: 12px;
    }
    .each-hobby{
     height: 80px;
     width: 80px;
   }
   .btn{
     font-size: 15px;
     padding: 7px 12px 7px 12px;
     margin-right: 3rem;
  }
 }
 @media (max-width:730px)
 {
    html{
       font-size: 10px;
    }
    .second-part img{
       width: 70%;
   }
   .each-hobby{
     height: 80px;
     width: 80px;
   }
    .btn{
       font-size: 10px;
       padding: 5px 10px 5px 10px;
       margin-right: 2rem;
    }
    .navbar .logo a{
       font-size: 1rem;
    }
    nav ul li a {
       font-size: 0.75rem;
       padding: 0 1rem;
 } 
 @media (max-width: 480px){
   html{
     font-size: 8px;
  }
  .second-part img{
     width: 80%;
 }
 .each-hobby{
   height: 60px;
   width: 60px;
 }
  .btn{
     font-size: 10px;
     padding: 3px 8px 3px 8px;
     margin-right: 1.5rem;
  }
  .navbar .logo a{
     font-size: 0.8rem;
  }
  nav ul li a {
     font-size: 0.75rem;
     padding: 0 1rem;
 }
